[user]
	email = jason.hord@gmail.com
	name = Jason Hord
[core]
	excludesfile = /home/jhord/.gitignore
[alias]
	b = branch
	ci = commit
	co = checkout
	s = status
[color]
	ui = on
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[pull]
	rebase = false
[init]
	defaultBranch = master
