# globs
**/*.sw[a-z]
**/.perl6/

# symlink excludes
/media
/tmp

# file excludes
/.asunder
/.config/conky/conky.conf.local
/.config/emaildefaults
/.config/k3brc
/.config/knfsshare
/.config/kwalletrc
/.config/mimeapps.list
/.config/pavucontrol.ini
/.config/Trolltech.conf
/.config/QtProject.conf
/.dbshell
/.erlang.cookie
/.esd_auth
/.hgignore
/.hgignore.global
/.hgrc
/.g.db
/.lesshst
/.lmmsrc.xml
/.mongorc.js
/.msmtp.*
/.msmtprc
/.mysql_history
/.node_repl_history
/.nvidia-settings-rc
/.procmail.log
/.python_history
/.rnd
/.sqlite_history
/.vim/.netrwhist
/.viminfo
/.vnc/*.log
/.vnc/*.pid
/.vnc/passwd
/.wget-hsts
/.Xauthority
/.xsession-errors
/bin/unit
/bin/wlog

# directory excludes
/.389-console/
/.adobe/
/.audacity-data/
/.bundle/
/.cache/
/.config/audacious/
/.config/autostart/
/.config/Code Industry/
/.config/configstore/
/.config/dconf/
/.config/easytag/
/.config/enchant/
/.config/ephoto/
/.config/gcloud/
/.config/GIMP/
/.config/google-chrome/
/.config/gtk-2.0/
/.config/gtk-3.0/
/.config/htop/
/.config/menus/
/.config/libfm/
/.config/libreoffice/
/.config/menus/
/.config/netcitadel.com/
/.config/phototonic/
/.config/psi/
/.config/pulse/
/.config/Swift/
/.config/VirtualBox/
/.config/wireshark/
/.config/xfe/
/.docker/
/.dropbox-dist/
/.dropbox/
/.electron/
/.fltk/
/.gem/
/.gimp-2.8/
/.gnome/
/.gnupg/
/.gphoto/
/.gsutil/
/.hg/
/.icons/
/.irssi/
/.java/
/.kde4/
/.kube/
/.links/
/.local/
/.macromedia/
/.minetest/
/.mozilla/
/.xscreensaver.d/
/.nagstamon/
/.nestopia/
/.nestopia/
/.npm/
/.node-gyp/
/.nv/
/.oracle_jre_usage/
/.pki/
/.purple/
/.Spark/
/.ssh/
/.tor-browser-en/
/.thumbnails/
/.vagrant.d/
/builds/
/doc/
/go/
/Maildir/
/media/
/node_modules/
/private/
/public_html/
/src/
/tmp/
/var/
/VirtualBox VMs/
