# globs
**/*.sw[a-z]
**/.perl6/
.vnc/*.log
.vnc/*.pid

# file excludes
.asunder
.config/emaildefaults
.config/k3brc
.config/knfsshare
.config/pavucontrol.ini
.config/Trolltech.conf
.dbshell
.erlang.cookie
.esd_auth
.hgignore
.hgignore.global
.hgrc
.g.db
.lesshst
.mongorc.js
.nvidia-settings-rc
.procmail.log
.rnd
.sqlite_history
.vim/.netrwhist
.viminfo
.vnc/passwd
.wget-hsts
.Xauthority
.xsession-errors
bin/wlog

# directory excludes
.adobe/
.audacity-data/
.bundle/
.cache/
.config/audacious/
.config/dconf/
.config/easytag/
.config/enchant/
.config/ephoto/
.config/google-chrome/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/menus/
.config/libfm/
.config/libreoffice/
.config/menus/
.config/phototonic/
.config/pulse/
.gimp-2.8/
.gnome/
.gnupg/
.gphoto/
.hg/
.icons/
.kde4/
.links/
.local/
.minetest/
.mozilla/
.nestopia/
.npm/
.node-gyp/
.nv/
.oracle_jre_usage/
.pki/
.ssh/
.tor-browser-en/
.thumbnails/
builds/
Maildir/
media/
node_modules/
private/
public_html/
src/
tmp/
