!#######################################################################
! urxvt configuration
!#######################################################################

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! options

urxvt.borderLess:        false
urxvt.cursorBlink:       false
urxvt.cutchars:          =()*,<>[]{}|`""''
urxvt.fading:            25
urxvt.internalBorder:    0
urxvt.jumpScroll:        true
urxvt.letterSpace:       -1
urxvt.loginShell:        true
urxvt.saveLines:         8192
urxvt.scrollBar:         false
urxvt.scrollTtyKeypress: true
urxvt.scrollTtyOutput:   false
urxvt.scrollWithBuffer:  true

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! color configuration

!urxvt.background: #0000aa
urxvt.background: #1C1C1C
urxvt.foreground: #ffffff
urxvt.color0:     #000000
urxvt.color1:     #aa0000
urxvt.color2:     #00aa00
urxvt.color3:     #aa5500
urxvt.color4:     #0000aa
urxvt.color5:     #aa00aa
urxvt.color6:     #00aaaa
urxvt.color7:     #aaaaaa
urxvt.color8:     #555555
urxvt.color9:     #ff5555
urxvt.color10:    #55ff55
urxvt.color11:    #ffff55
urxvt.color12:    #5555ff
urxvt.color13:    #ff55ff
urxvt.color14:    #55ffff
urxvt.color15:    #ffffff 

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! extension configuration

urxvt.perl-ext-common: font-cycle

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! font configuration

! default font
urxvt.font: 8x13
!urxvt.font: xft:Misc Fixed
!urxvt.font: xft:VGA
!urxvt.font: xft:Hack
!urxvt.font: 9x15

! font-cycle key bindings
urxvt.font-cycle.accelerator: C

! font-cycle font list
urxvt.font-cycle.font.0: 8x13
urxvt.font-cycle.font.1: 9x15
urxvt.font-cycle.font.2: 10x20
