# !(@) vg-gen.config

# patterns
p:ck:/^[A-Z\d\W]+(\s+[A-Z\d\W]+)*$/
p:c:/^\S+\s+of\s+/i
p:c:/^DJ/i
p:c:/Life$/i
p:c:/^How(\b|[A-Z])/i
p:k:/\d+\s+Most/i
p:c:/\.(com|net|org)$/i
p:c:/(^\W+)|(\W+$)/i
p:k:/Full\s+Movie/i
p:ck:/[™И]/i

# channel targets
p:c:/^Dude\W*Perfect$/
p:c:/^FlinnScientific$/
p:c:/^Justin\W+Rhodes$/
p:c:/^Salzburg\W+Global\W+Seminar$/
p:c:/^secureteam10$/


# words
w:c:7[34]7
w:ck:ABC
w:ck:Air\W*Bus
w:ck:Air\W*Crash
w:ck:Air\W*Line[rsz]?
w:ck:Air\W*Soft
w:ck:Alien
w:ck:Alex\W*Jones
w:ck:Ark\W*Extinction
w:ck:Arma
w:c:Apple
w:ck:ASMR
w:ck:Auction
w:ck:Baby
w:ck:Basketball
w:ck:Battlefield
w:ck:Battlefront
w:c:BBC
w:ck:Beauty
w:ck:Bernie\W*Sanders
w:ck:Bike([rsz]|rs|rz)
w:ck:Biking
w:ck:Bill\W*Burr
w:ck:Bill\W*Nye
w:ck:Binding of Isaac
w:ck:Black\W*Ops
w:ck:Bloomberg
w:ck:BMX
w:ck:Boat
w:ck:Bodybuild(er[sz]?|ing)?
w:ck:Boeing
w:ck:Boxing
w:ck:Bowhunt([sz]|er|ing)?
w:ck:Bowling
w:ck:Bronzino
w:ck:Bruce Lee
w:ck:Bushcraft(er)?
w:c:Buzz
w:c:Canada
w:ck:Canuck[sz]
w:ck:Casino
w:ck:CBS
w:k:CIA
w:ck:Championship
w:ck:Chess
w:c:Chipmunk[sz]
w:ck:CNN
w:ck:Combat
w:c:Comedy
w:ck:Comic[sz]
w:ck:Conan
w:ck:Colbert
w:k:Cover
w:c:Cracked
w:ck:Cricket
w:ck:Cringe
w:ck:C\W?SPAN
w:ck:Cycling
w:k:DeGrasse
w:k:Dead\W*By\W*Daylight
w:ck:Daily
w:ck:DiGiorno
w:ck:Disney
w:k:DOTA
w:k:Drake
w:c:Droid
w:k:Dunk[sz]?
w:ck:DIY
w:k:Dragonball
w:ck:Elizabeth\W*Warren
w:ck:ESPN
w:ck:Explore\.org
w:ck:Fail[sz]?
w:ck:Family\W*Guy
w:ck:Funn(y|ies)
w:ck:Fighting
w:ck:Fishing
w:ck:Fitness
w:c:Flight
w:ck:Football
w:c:Food
w:ck:FOX
w:ck:Game([rsz]|rs|rz)?
w:ck:Gaming
w:k:Gameplay
w:c:Gardening
w:k:Gervais
w:k:Gordon Ramsay
w:k:Gowdy
w:c:Good\W*Mythical\W*Morning
w:k:Golden Globe[sz]?
w:ck:Got\W*Talent
w:ck:GTA
w:k:Halo
w:c:Hardware
w:ck:Hearthstone
w:k:Hell\W*[sz]\W*Kitchen
w:ck:Hoard(er[sz]?|ing)?
w:c:Hot
w:c:Hydraulic\W*Press
w:ck:Jive
w:ck:John\W*Oliver
w:ck:Judge Judy
w:ck:Kids
w:c:Killer
w:ck:Kingdom Hearts
w:ck:Kitchen\W*Nightmare[sz]?
w:c:KitKat
w:ck:Kitt(en[sz]?|y|ies)
w:ck:Late\W*Night
w:ck:League
w:ck:Let'?s\W*Play
w:ck:Letterman
w:c:Live
w:k:LGBT
w:ck:Louis\W*CK
w:ck:Lockheed
w:ck:Log Cabin
w:ck:Lyrics
w:ck:Mac
w:ck:Macbook
w:ck:Madden
w:k:Maher
w:k:Makeup
w:k:Mariah
w:ck:Marvel
w:ck:Mecum
w:ck:Meme
w:c:Media
w:ck:MGTOW
w:c:Microsoft
w:c:Military
w:ck:Milo
w:ck:Minecraft
w:ck:MLB
w:ck:MMA
w:ck:Monstercat
w:ck:Monthly
w:ck:MTG
w:ck:Mundo
w:ck:Muppet[sz]?
w:c:Music
w:c:Murder(er[sz])
w:ck:NASCAR
w:ck:NBA
w:ck:NBC
w:ck:News
w:ck:Nerd[sz]?
w:ck:Ninja
w:k:NSA
w:ck:NFL
w:k:Nibiru
w:ck:Nintendo
w:k:Obama
w:ck:Official
w:ck:Oprah
w:ck:Overwatch
w:ck:PC
w:ck:PETA
w:ck:Pinoy
w:ck:Pitbull
w:c:Plane[sz]?
w:ck:Pok[eé]mon
w:ck:Poker
w:k:Police
w:ck:pregnant
w:ck:Prison[sz]?
w:ck:PS[23]
w:c:Psychology
w:ck:Pupp(y|ies)
w:k:Pv[PE]
w:ck:Quarterly
w:ck:Rap
w:c:Raw
w:ck:RC
w:ck:Roblox
w:c:Rob Chapman
w:ck:Rogan
w:ck:Sadhguru
w:ck:Sailing
w:ck:Samsung
w:c:Seeker
w:c:Serial
w:ck:Sesame\W*St(reet|[.]?)
w:ck:Shark\W+Tank
w:c:Shock(er[sz]?|ing)?
w:ck:Simpsons
w:ck:SkyRim
w:ck:Smash\W*Bros
w:ck:SNL
w:ck:Snooker
w:k:Soulja
w:c:Sports
w:k:Squat
w:ck:StarCraft
w:ck:Star Wars
w:c:Step\W*Up
w:ck:Strongest (Wo)?Man
w:ck:Soccer
w:ck:SuperHero
w:ck:Super\W*Mario
w:ck:Sushi
w:ck:Swimming
w:k:Tarkov
w:ck:Tanks
w:c:Tech
w:ck:Tech\W*Tip[sz]?
w:ck:Ted\W*Cruz
w:ck:Telemundo
w:ck:Tennis
w:ck:Tiny House[sz]?
w:c:TinyKittens
w:ck:TF2
w:c:Top
w:ck:Toy[sz]?
w:k:Trump
w:c:T(ee)?V
w:ck:UFC
w:ck:UFO
w:ck:Ultimate
w:k:Universalis
w:ck:Univision
w:ck:Unbox(ing)?
w:ck:Vibe[sz]?
w:ck:Vine([rsz]|rs|rz)?
w:ck:Vegan
w:ck:VEVO
w:ck:VICE
w:ck:Viral
w:ck:Vlog[sz]?
w:ck:WarCraft
w:ck:WarHammer
w:ck:Weekly
w:ck:Weeknd
w:ck:White\W+House
w:ck:Wii
w:ck:Wing\W*Chun
w:ck:Wrestling
w:ck:WW[EF]
w:ck:XBOX
w:ck:YaBoy
w:ck:Yearly
w:c:YouTube
w:ck:Yogi
